


body {
    xfont-family:  Verdana, Optima, Palatino, Arial, sans-serif;
    font: normal 90%  Candara, Constantia, Avenir Next, Palatino, Cambria, Times;
    xbackground-color: rgb(50,50,50);
    background-color: rgb(30,30,30);
    color: rgb(0,0,0);
    text-align: center;
    width: 1000px;
    padding:0ex 0ex 0ex 0ex ;
    margin: 0ex auto ;
}


.vcremph {
    font-family: 'Monoton', monospace;
    font-weight: 500;
}

.swagemph {
    font-family: 'Permanent Marker', cursive;    
}

.caption { margin: 5px; text-align: right; font-style: italic; font-size:xx-small; float: right; }

.container{
    margin-top : 1em;
    margin-bottom : 1em;
    margin-left : 4em;
    margin-right : 4em;
    padding : 0ex;
}


TD{font-size: 90%}

.content{
    xxxbackground-color: rgb(255,253,231);
    ybackground-color: rgb(253,253,247);
    background-color: rgb(255,255,255);
    max-width : 100%;
    min-width : 80ex;
    
    padding : 2ex;
    border-width : 0px;
    border-color : rgb(140,140,140);
    border-style : solid;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

p.indent {
    margin-left: 5ex;  
    margin-right: 5ex;  
}
p.firstpara {
    margin-left: 5ex;  
    margin-right: 5ex;  
    margin-top: 0ex;
}

p.tightpara {
    margin-left: 5ex;  
    margin-right: 5ex;  
    margin-top: 0ex;
    margin-bottom: 0ex;
}

p.faq-question {
    margin-right: 5ex;  
    font-weight: bold;
    padding: 0px;
    margin-bottom: 0px;
}
p.faq-answer {
    margin-left: 5ex;  
    margin-right: 5ex;  
    margin-top: 0ex;
}

ul {
    margin-top: 0ex;
    margin-left: 5ex;
    padding-left: 0ex;
    margin-right: 5ex;  
}

ul.publicationlist > li {
    margin-top: 1em;
}

ul.compactlist  {
list-style-type:none;
padding:0ex 0ex 0ex 0ex ; 
    margin-top: 0ex;
    margin-left: 7ex;
    padding-left: 0ex;
    margin-right: 7ex;  
}
ul.compactlist > li {
    margin-top: 0em;
}

ul.emlist {
  list-style-image: url('bullet.gif');
 
}

.navbar {
    font-size: 90%;
    line-height: 90%;
}
.navbar a {
    font-size: 90%;
    line-height: 90%;
}

a.email {
    text-decoration: none;
}

a.imageanchor:link {
    color: rgb(0, 0, 0);
}
a:link {
    text-decoration: none;
    color: rgb(0, 51, 160);
}
a:visited {
    text-decoration: none;
    color: rgb(0, 51, 160);
}
a:hover {
    text-decoration: none;
    color: rgb(154, 0, 0);
}

div.publicationnav {
    float:right;
    width: 25ex;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(250,250,245);
    padding: 1ex;
    font-size: 90%;
}

div.publicationnav > h2 {
    font-weight: normal;
    font-style: italic;
}
div.publicationnav > ul {
    margin-top: 0ex;
    margin-bottom: 0ex;
    margin-left: 1em;
    padding-left: 1em;
    margin-right: 0ex;  
    text-indent: -1em;
    list-style-type: none;
}
div.publicationnav > ul li:before {
    content: "\00BB \0020";
}


div.publicationnav > li {
    margin-top: 0ex;
    margin-bottom: 0ex;
}

div.welcomepage > ul li {
}

img.logo {
  border: 0px;
}




